page-home {
    .toolbar-background {
        background-color: #075e54;     
    }
    p{
        color: white!important;
        margin-right: 8%;
    }
    button{
        background-color: #25d366!important;
    }
}