page-privacy-policy {
    #titulo{
        color:white;
        float: right;
        letter-spacing: 5px;
        font-weight: 500;
    }
    .toolbar-background {
      background-color: #075e54;     
      }
      ion-header ion-icon.back-button-icon.icon{
          color:white;
      }
}
